PLATFORM=forgejo

FORGEJO_URL=https://forgejo.mydomain.com
FORGEJO_TOKEN=

GITLAB_URL=https://gitlab.mydomain.com
GITLAB_TOKEN=

BITBUCKET_URL=https://bitbucket.mydomain.com
BITBUCKET_TOKEN=
BITBUCKET_PROJECT=

REPORT_OUTPUT_FILE=report.html
